<!DOCTYPE html>
<html>
	<head>
		<base href="/" />
		<title>MEAN Skeleton Application</title>
		<link rel="shortcut icon" href="/img/favicon.ico"/>
		<link rel="stylesheet" href="/styles/material-indigo-pink.css" />
		<link rel="stylesheet" href="/styles/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
	</head>
	<body>
		<mean-skeleton></mean-skeleton>
		<script src="/js/app/bundle.js"></script>
	</body>
</html>
